<nav class='navbar navbar-default'>
  <div class='container'>
      <div class='navbar-brand'>Cat Fancy!</div>
      <div class='navbar-right'>
        {{#if session.isAuthenticated}}
          <p class="bg-success">{{session}}</p>
          <button class='btn btn-default navbar-btn' {{action 'signOut'}}>
            {{fa-icon 'sign-out'}} Sign Out
          </button>
        {{else}}
          {{#link-to 'sign-in' }}
            <button class="btn btn-default navbar-btn">Sign In</button>
          {{/link-to}}
          {{#link-to 'sign-up'}}
            <button class="btn btn-default navbar-btn">Sign Up</button>
          {{/link-to}}
        {{/if}}
      </div>
  </div>
</nav>
<div class='container'>
    {{outlet}}
</div>
